Pomodoro/Pomodoro.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Pomodoro/Pomodoro.xcodeproj/project.xcworkspace/xcuserdata/owner.xcuserdatad/WorkspaceSettings.xcsettings
Pomodoro/Pomodoro.xcodeproj/xcuserdata/bob.xcuserdatad/xcschemes/Pomodoro.xcscheme
Pomodoro/Pomodoro.xcodeproj/xcuserdata/bob.xcuserdatad/xcschemes/xcschememanagement.plist
Pomodoro/Pomodoro.xcodeproj/xcuserdata/owner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
